go 1.20

use (
	"./selection sort/findMinimum"
	"./selection sort/sortByLength"
	"./selection sort/sortStruct"
	./HashTable/duplicateNoOrNot
	./HashTable/insertSearchDelete
	./HashTable/twoSum
	./Stack/evaluatePostFix
	./Stack/firstOneLastOut
	./Stack/isValidStringOrNot
	./Stack/removeEvenNo
	./arrays/removeDuplicates
	./arrays/removeElement
	./arrays/searchtarget
	./binarySearch/SqureRoot
	./binarySearch/basicSearch
	./binarySearch/closestIndex
	./bubbleSort/ascendingOrder
	./bubbleSort/sortStruct
	./duplicate
	./linearSearch/basicLinearSearch
	./linearSearch/multipleoccurence
	./linearSearch/smallestIndex
	./linkedList/AddANodebtwOneNode
	./linkedList/AddNodeEndandBeginAndDelete
	./linkedList/OrderAndReverse
	./linkedList/RecursiveForOrder
	./linkedList/arraytoLinkedList
	./linkedList/doublyLinkedList
	./linkedList/singleLinkedList
	./mergesort
	./quene
	./quickSort
	./recursion/factorial
	./recursion/fibonacci
	./recursion/recursivebinary
	./strings/PalindromeOrNot
	./strings/VowelsAndConsonants
	./strings/reverseString
)
