go 1.20

use (
	"./selection sort/findMinimum"
	"./selection sort/sortByLength"
	"./selection sort/sortStruct"
	./arrays/removeDuplicates
	./arrays/removeElement
	./arrays/searchTarget
	./binarySearch/SqureRoot
	./binarySearch/basicSearch
	./binarySearch/closestIndex
	./linearSearch/basicLinearSearch
	./linearSearch/multipleoccurence
	./linearSearch/smallestIndex
	./linkedList/AddANodebtwOneNode
	./linkedList/AddNodeEndandBeginAndDelete
	./linkedList/OrderAndReverse
	./linkedList/RecursiveForOrder
	./linkedList/arraytoLinkedList
	./linkedList/doublyLinkedList
	./linkedList/singleLinkedList
	./recursion/factorial
	./recursion/fibonacci
	./recursion/recursivebinary
	./strings/PalindromeOrNot
	./strings/VowelsAndConsonants
	./strings/reverseString
)
